<div style="display: inline-block;">
    <div class="column">
        <div class="card">
            <h3 id='card-header'>{{location}} {{stars}}/5</h3>
            <p><i class="fa fa-users"></i> {{crowded}}</p>
            <p>{{masks}}</p>
            <p>{{entertainment}}</p>
            <p>Restroom Quality: {{quality}}</p>
            <p>{{specials}}</p>
            <p>Comment: {{addComment}}</p>
        </div>
    </div>
</div>