<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/47199050e5.js" crossorigin="anonymous"></script>
    <title>Whats Going On</title>
</head>

<body>
    <button id='btn' type="button" class="btn btn-primary btn-lg"><a href="/login">Log-In</a></button>

    <h1 id='hello'>Business</h1>

    <div id='list'>
    <ul class='location'>
        {{ location }}
        <li>{{ name }}</li>
        <li>{{ address }}</li>
        <li>{{ zip }}</li>
        <li>{{ city }}</li>
        <li>{{ category }}</li>
    </ul>
    </div>

</body>


</html>
